<div id="content" class="container">
<h1>
  Manage Questions
</h1>

<div id="manage-questions" data-ng-controller="ManageQuestions as vm">
  <input type="file" id="files"/>
  <button class="btn btn-small btn-primary" ng-click="vm.loadFile()"> Load </button>
  <output id="list"></output>
  <table style="width:100%">
    <tr>
      <th></th>
      <th> Question </th>
      <th> Answer </th>
      <th> Category </th>
    </tr>
    <tr ng-repeat="question in vm.questions">
      <td>
        <input id="id" type="hidden" class="form-control" ng-model="question.id">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="Please type your question here" ng-model="question.text">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="Please type the answer here" ng-model="question.answer">
      </td>
      <td>
        <select class="form-control" ng-model="question.categoryId" ng-options="category.id as category.title for category in vm.categories">
        </select>
      </td>
      <td class="delete">
        <button class="btn btn-primary" ng-click="vm.deleteQuestion(question)"> Delete </button>
      </td>
    </tr>
  </table>
  <div class="buttons">
  <button class="btn btn-lg btn-primary" ng-click="vm.addQuestion()"> Add New Question </button>
  <button class="btn btn-lg btn-primary" ng-click="vm.saveQuestions()"> Save Questions </button>
  <button class="btn btn-lg btn-primary" ng-click="vm.exportQuestions()"> Export Questions </button>
  </div>
</div>
</div>
