<div data-ng-controller="Shell as vm">

    <nav class="navbar-collapse navbar-inverse" data-ng-include="'layout/topnav.html'"></nav>
        <!--<div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">-->
            <!--<div class="page-splash">-->
                <!--<div class="page-splash-message">-->
                    <!--Trivial Purfuit-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div ng-view></div>
        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <div class="spinnerIcon"></div>
        </div>
</div>