<div id="content" class="container">
    <h1>
  Manage Categories
</h1>

 <div id="manage-categories" data-ng-controller="ManageCategories as vm">
  <div class="success-message" style="display: none; color: green">Success!</div>
  <div class="error-message" style="display: none; color: red">Please Make Sure All Players Have Names!</div>
  <div class="table-wrapper">
  <table>
    <tr>
      <th></th>
      <th> Title </th>
      <th> Color </th>
    </tr>
    <tr ng-repeat="category in vm.categories">
      <td>
        <input id="id" type="hidden" class="form-control" ng-model="category.id">
      </td>
      <td>
        <input type="text" class="validate form-control" placeholder="Please enter a category title" ng-model="category.title">
      </td>
      <td>
        <input type="color" class="form-control" ng-model="category.color">
      </td>
    </tr>
  </table>
  <div class="buttons">
  <button class="btn btn-lg btn-primary" ng-click="vm.save()"> Save Changes </button>
  </div>
</div>

</div>

</div>
